*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* 
    
    None of these are currently defined.
    Will define later

    */
    --square: hsl(0, 7%, 92%);
    --border: hsl(0, 0%, 57%);

    --highlight: hsl(4, 35%, 56%);
    --game-title: rgb(255, 255, 255);

    --text: rgb(48, 48, 48);
}

body {
    margin: 0;
}

.site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.gameboard {
    display: block;
}

.game-name {
    text-align: center;
}

.players {
    display: flex;
    justify-content: space-between;
}

.player.myTurn {
    text-decoration: underline;
    text-decoration-color: lightcoral;
    text-underline-position: under;
    text-decoration-thickness: 3px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
}

.space {
    width: 100px;
    height: 100px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.space.x,
.space.o {
    font-size: 3rem;
    cursor: not-allowed;
}

.space.x::before {
    content: 'X';
}

.space.o::before {
    content: 'O';
}

.result-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-message {
    color: white;
    font-size: 3rem;
    margin-bottom: 0.5em;
}

.reset {
    padding: 0.5em 0.75em;
    font-size: 2rem;
}

.reset:active {
    color: white;
    background-color: black;
}