*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --square: hsl(0, 7%, 92%);
    --border: hsl(0, 0%, 57%);

    --nav-bg: #403F4C;
    --highlight: hsl(4, 35%, 56%);
    --game-title: rgb(255, 255, 255);

    --text: rgb(48, 48, 48);
}

body {
    background-color: rgb(255, 255, 255);
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    padding: 1.25em;
    background-color: var(--nav-bg);
    border-bottom: 5px solid var(--highlight);
}

.game-title {   
    color: var(--game-title);   
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* SET TO DISPLAY IN JAVASCRIPT */
.player-board {
    display: none;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    max-width: 300px;
    color: var(--text);
}

.player {
    margin: 0 2em;
}

/* SET TO DISPLAY IN JAVASCRIPT */
.display {
    display: none;
    margin-bottom: 1em;
}

.display-text {
    color: var(--text);
}

.won {
    color: green;
}

/* SET TO DISPLAY IN JAVASCRIPT */
.board {
    display: none;
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 90%;
    max-width: 400px;
    height: 400px;
}

.space {
    background-color: var(--square);
    border: 1px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns {
    display: none;
    margin-top: 1.5em;
}

.game-btn {
    padding: 0.75em 1em;
    border: none;
    background-color: var(--highlight);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.x, 
.o {
    font-size: 2.5rem;
    color: black;
    margin: 0;
    padding: 0;
}

.game-selection {
    animation-name: boardAppear;
    animation-duration: 750ms;
    background-color:hsl(0, 0%, 72%);
    width: 80%;
    max-width: 800px;
    padding: 3em 2em;
}

@keyframes boardAppear {
    0% {
        transform: scale(0.1);
        opacity: 0.0;
    }    
    100% {
        text-replace: scale(1);
        opacity: 1;
    }
}

.selection__title {
    text-align: center;
}

.player__select {
    display: flex;
    justify-content: space-between;
    margin: 2em 0;
}

/* .player1,
.player2 {
    background-color: rgb(233, 233, 231);
    padding: 0.75em 1em;
    text-align: center;
    width: 40%;
} */

.player__btn {
    font-size: 1.5rem;
    border: none;
    padding: 0.65em 0.5em;
    width: 40%;
}

.opponent:hover {
    transition: ease-in-out 200ms;
    transform: scale(1.1);
    opacity: 0.65;
    cursor: pointer;
}

.opponent:active {
    transition: ease-out 10ms;
    background-color: hsl(60, 4%, 40%);
    cursor: pointer;
}

.start-btn:hover {
    transition: ease-in-out 300ms;
    transform: scale(1.1);
    background-color: hsl(4, 35%, 65%);
    cursor: pointer;
}

.start-btn:active {
    transition: ease-in-out 10ms;
    background-color: hsl(4, 35%, 30%);
    cursor: pointer;
}

.start-game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;    
}

@media (min-width: 600px) {

    .game-selection {
        width: 60%;
        padding-left: 4em;
        padding-right: 4em;
    }
}